input {
  font-size: 12px;
}

h1 {
  color: #8ac5ff;
  font-size: 16px;
  margin: 0 0 10px 0;
  text-align: center;
}

h4 {
  color: #8ac5ff;
}



hr {
  background: #d0d7d9;
  height: 1px;
  margin: 10px 0 10px 0;
  border: none;
}

#map {
  height: 100%;
}

.options-box {
  background: #170202;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
}

#pano {
  width: 200px;
  height: 200px;
}

#search-within-time-text {
  width: 84%;
  height: 25px;
  font-size: 12px;
}

.text {
  font-size: 12px;
  color: #8ac5ff;
}

#toggle-drawing {
  font-size: 12px;
}

#zoom-to-area-text {
  height: 25px;
  width: 100%;
}

#zoom-to-area {}

.zoomer {
  margin: 10px 0 10px 0;
}

#places-search {
  height: 25px;
}

.scroll {
  width: 300px;
  height: 180px;
  overflow: scroll;
}

#my-Input {
  width: 100%;
  height: 25px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#my-UL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
